<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "http://libs.cartocdn.com/cartodb.js/v3/3.13/themes/css/cartodb.css", "normalize", "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= partial "partials/navigation" %>
    <%= yield %>
    <%= javascript_include_tag  "https://code.jquery.com/jquery-2.1.3.min.js","http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb_nojquery.js","all" %>
  </body>
</html>
